@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.scroll-contanier {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.showcase {
    width: 100%;
    height: 100vh;
    background-image: url('../img/candle.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 2.6rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
}

.content h1 {
    margin-left: 15%;
}

.content p {
    letter-spacing: .4rem;
    

    animation-name: Slide;
    animation-duration: 2s;
    animation-delay: 1s;
}

.Projects {
    width: 100%;
    height: 100vh;
    background: #ccc;
    scroll-behavior: smooth;
}

.navbar {
    font-size: 1.8rem;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}

.nav_list {
    list-style-type: none;
}

.nav_link,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.nav_list li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

/* ANIMATIONS */

@keyframes Slide {
    0% {
        margin-top: -50px;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        margin: 0;
    }
}