@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.showcase {
    width: 100%;
    height: 100vh;
    background-image: url('../img/showcase.jpeg');
    background-position: absoulte;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'IBM Plex Mono', monospace;
}